@font-face {
    font-family: 'ProximaNova Bold';
    src: url('../../fonts/Mark Simonson - Proxima Nova Condensed Bold.eot');
    src: local('☺'), url('fonts/Mark Simonson - Proxima Nova Condensed Bold.woff') format('woff'), url('fonts/Mark Simonson - Proxima Nova Condensed Bold.ttf') format('truetype'), url('fonts/Mark Simonson - Proxima Nova Condensed Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova Regular';
    src: url('../fonts/Mark Simonson - Proxima Nova Condensed Regular.eot');
    src: local('☺'), url('fonts/Mark Simonson - Proxima Nova Condensed Regular.woff') format('woff'), url('fonts/Mark Simonson - Proxima Nova Condensed Regular.ttf') format('truetype'), url('fonts/Mark Simonson - Proxima Nova Condensed Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
