* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'ProximaNova Bold', sans-serif;
    font-weight: 700;
}

@import '_vars';
@import '_header';
@import '_home';
@import '_fonts';
@import '_furniture';
@import '_decor';
@import '_videos';
@import '_video';
@import '_about-us';
@import '_footer';

